body {
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}

h1 {
    color: #2F7EDC;
    font-size: 44px;
    font-weight: 900;
    margin-bottom: 0;
}
h2 {
    margin-top: 4px;
    font-size: 24px;
    font-weight: 700;
}

.page-fill {
    width: 100%;   
    position: relative;
}
.center-wrapper {
    max-width: 1200px;
    margin: auto;
}


.ext-link-cards {
    margin-top: 54px;
}
.link-card {
    text-decoration: none;
    width: 100%;
    color: #000;
    display: block;
    border-radius: 5px;
    padding: 6px 12px;
    margin-top: 12px;
    transition: background-color 0.2s ease-in-out;
    background-color: rgb(253, 253, 254);
}
.link-card:hover {
    background-color: rgb(245, 245, 253);
}
.link-card:hover > h3 {
    text-decoration: underline;
}

#card-utsiktskartan {
    padding-bottom: 120px;
    position: relative;
    background-color: rgb(253, 253, 254);
}
#card-utsiktskartan:hover {
    background-color: rgb(245, 245, 253);
}

#card-utsiktskartan:hover::after {
    opacity: 1;
    background-color: none;
}

#card-utsiktskartan::after { 
    transition: opacity 0.2s ease-in-out;
    border-radius: 0 5px 5px 0;  
    content: "";
    background-image: url("/demo/img/011616.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 500px;
    opacity: .5;
}
